$brand-red: rgba(213, 36, 49, 1.0);
$background-main: rgba(243, 244, 245, 1.0);
$background-light-grey: rgba(191, 199, 201, 1.0);
$background-grey: rgba(94, 99, 104, 1.0);
$background-dark-grey: rgba(64, 65, 69, 1.0);
$text-white: rgba(255, 255, 255, 1.0);
$text-grey: rgba(47, 48, 49, 1.0);
$text-dark-grey:rgba(53, 58, 61, 1.0);
