@import "colours";
@import "reset";

// ************************************************
// Header
// ************************************************

header {
  font-family: 'PT Sans', sans-serif;
  background-color: $brand-red;
}

.constrain {
  max-width: 960px;
  margin: 0 auto;
}

.site-brand {
  height: 100px;

  &__image, &__navigation {
    display: inline-block;
    width: 49.50%;
  }

  &__image {
    @include normal-padding;
  }

  &__navigation {
    text-align: right;
    vertical-align: top;
    padding: 22px 0;

    li {
      display: inline;
    }

    a {
      color: $text-white;
      font-size: .8em;
      padding: 0 13px;
    }
  }
}

.hero-image {
  height: 350px;
  background: url(../../assets/header.jpg) no-repeat top center #fff;
}

// ************************************************
// Main
// ************************************************

main {
  background-color: $background-main;
}

.features {
  background-color: #fff;
  position: relative;
  top:-50px;
}

.feature {
  &__title {
    text-align: center;
    @include normal-padding;
    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: normal;
      color: $text_dark_grey;
    }
  }
  &__image {
    padding: 0 30px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
