@import "colours";
@import "reset";

// ************************************************
// Header
// ************************************************

header {
  font-family: 'PT Sans', sans-serif;
  background-color: $brand-red;
}

.constrain {
  max-width: 960px;
  margin: 0 auto;
}

.site-brand {
  height: 100px;

  &__image, &__navigation {
    display: inline-block;
    width: 49.50%;
  }

  &__image {
    @include normal-padding;
  }

  &__navigation {
    text-align: right;
    vertical-align: top;
    padding: 22px 0;

    li {
      display: inline;
    }

    a {
      color: $text-white;
      font-size: .8em;
      padding: 0 13px;
    }
  }
}

.hero-image {
  height: 350px;
  background: url(../../assets/header.jpg) no-repeat top center #fff;
}

// ************************************************
// Main
// ************************************************

main {
  background-color: $background-main;
}

.features {
  background-color: #fff;
  position: relative;
  top:-50px;
}

.feature {
  &__title {
    text-align: center;
    @include normal-padding;
    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: normal;
      color: $text_dark_grey;
    }
  }
  &__image {
    padding: 0 30px 30px;
    img {
      @include image-property;
    }
  }
}

.article {
  height: 312px;

  &__content {
    display: inline-block;
    width: 640px;
    vertical-align: top;
    padding: 50px;
    h2 {
      margin-top: 0;
      font-weight: normal;
    }
  }

  &__image {
    display: inline-block;
    width: 315px;
    img {
      @include image-property;
    }
  }
}

.apply-link {
  font-weight: bold;
  span {
    padding: .2em;
    border-radius: 1.2em;
    color: $background_light_grey;
    background-color: $text-dark-grey;
  }
}

.feature-2 {
  @include change-colors($background-light-grey, $text-dark-grey);
  a  {
    @include change-colors($background-light-grey, $text-dark-grey);
  }
  span {
    @include change-colors($text-dark-grey, $background-light-grey);
  }
}

.feature-3 {
  h2 {
    color: $brand-red;
  }
  @include change-colors(#fff, $text-dark-grey);
  a  {
    @include change-colors(#fff, $brand-red);
  }
  span {
    @include change-colors($brand-red, #fff);
  }
}
